[submodule "docs/repos/denful-den"]
	path = docs/repos/denful-den
	url = https://github.com/denful/den.git

[submodule "docs/repos/denful-den-wiki"]
	path = docs/repos/denful-den-wiki
	url = https://github.com/denful/den.wiki.git

[submodule "docs/repos/denful-dendrix"]
	path = docs/repos/denful-dendrix
	url = https://github.com/denful/dendrix.git

[submodule "docs/repos/denful-flake-aspects"]
	path = docs/repos/denful-flake-aspects
	url = https://github.com/denful/flake-aspects.git

[submodule "docs/repos/denful-flake-file"]
	path = docs/repos/denful-flake-file
	url = https://github.com/denful/flake-file.git

[submodule "docs/repos/denful-import-tree"]
	path = docs/repos/denful-import-tree
	url = https://github.com/denful/import-tree.git

[submodule "docs/repos/hercules-ci-flake.parts-website"]
	path = docs/repos/hercules-ci-flake.parts-website
	url = https://github.com/hercules-ci/flake.parts-website.git

[submodule "docs/repos/mic92-sops-nix"]
	path = docs/repos/mic92-sops-nix
	url = https://github.com/Mic92/sops-nix.git

[submodule "docs/repos/mightyiam-dendritic"]
	path = docs/repos/mightyiam-dendritic
	url = https://github.com/mightyiam/dendritic.git

[submodule "docs/repos/nix-community-nixos-wsl"]
	path = docs/repos/nix-community-nixos-wsl
	url = https://github.com/nix-community/NixOS-WSL.git

[submodule "docs/repos/nvmd-nixos-raspberrypi"]
	path = docs/repos/nvmd-nixos-raspberrypi
	url = https://github.com/nvmd/nixos-raspberrypi.git

[submodule "docs/repos/vic-vix"]
	path = docs/repos/vic-vix
	url = https://github.com/vic/vix.git
